

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Arial , sans-serif;
    line-height: 1.6;
    background: #f5f5f5;
    color:#333;
}

header{
    background: #0078d7;
    color: snow;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}
header .logo{
    font-weight: bold;
    font-size: 20px;
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 10px;
}

header nav ul li a{
    color: snow;
    text-decoration: none;
    font-weight: 500;
}

.hero{
    text-align: center;
    padding: 10px 20px;
    background: #e5f1fb;
}

.hero h1{
    font-size: 25px;
    margin-bottom: 10px;
}

.hero p{
    margin-bottom: 15px;
}

.hero .btn{
    text-decoration: none;
    background-color: #0078d7;
    color: snow;
    padding: 20px 20px;
    border-radius: 5px;

}

.features{
    display: flex;
    justify-content: space-around;
    padding: 12px;
    background: #fff;
}

.feature{
    max-width: 250px;
    text-align: center;
}

footer{
    text-align: center;
    padding: 15px;
    background: #0078d7;
    color: #fff;
}


