
@import url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.css');

body{
    margin: 0;
    font-family: 'Vazir',sans-serif;
    background-color: #fff;
    color: #222;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.logo {
    font-size: 1.5rem;
    color: #b80b0b;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .logo i {
    color: #b80b0b;
    font-size: 1.3rem;
  }
  
  .navbar ul {
    display: flex;
    gap: 20px;
    list-style: none;
  }

  .navbar a {
    text-decoration: none;
    color: #444;
    font-weight: 500;
    transition: 0.3s;
  }
  
  .navbar a:hover {
    color: #b8860b;
  }

  /* Slider */
.slider {
  width: 65%;
  height: 420px;
  position:relative;
  overflow: hidden;
  margin: 10px auto;
  box-shadow:0 0 10px rgb(0,0,0);
  border-radius:5px;
}



.slide img {
  width:100%; 
  height: 420px;
}

.slide{
  display: none;
}

.slide.active{
  display: block;
}

.prev , .next{
  color: snow;
  text-decoration:none;
  font-size:40px;
  top:50%;
  transform:translate(0,-50%);
  position:absolute;
}

.prev{
  left:5px;
}

.next{
  right:5px;
}



/* Products */
.products {
  text-align: center;
  padding: 60px 20px;
  background-color: #fff;
}

.products h2 {
  color: #b80b0b;
  font-size: 1.8rem;
  margin-bottom: 40px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.product-card {
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 15px;
  transition: 0.3s;
  background-color: #fff;
}

.product-card:hover {
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}

.product-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Blog */
.blog {
  text-align: center;
  padding: 60px 20px;
  background-color: #fafafa;
}

.blog h2 {
  color: #b80b0b;
  font-size: 1.8rem;
  margin-bottom: 40px;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}

.blog-post {
  border: 1px solid #eee;
  border-radius: 10px;
  background: #fff;
  overflow: hidden;
  transition: 0.3s;
}

.blog-post img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.blog-post:hover {
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}

/* Footer */
.footer {
  background-color: #fff;
  border-top: 1px solid #eee;
  text-align: center;
  padding: 30px 10px;
  color: #555;
}

.footer-links {
  margin-bottom: 15px;
}

.footer-links a {
  color: #b80b0b;
  margin: 0 10px;
  text-decoration: none;
}

.social i {
  color: #b80b0b;
  margin: 0 8px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.3s;
}

.social i:hover {
  transform: scale(1.2);
}

